{{ define "base" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/img/robi.png" type="image/png">
  <script src="/static/js/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/css/logo.css">
  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/menu.css">
  <link rel="stylesheet" href="/static/css/heart.css">

  <link rel="stylesheet" href="/static/css/goal.css">
  <title>boom</title>
</head>

<body theme="{{ .Theme }}">
  <div class="band">
    <div class="main">
      {{ block "logo" . }}{{ end }}


      <div class="content" id="content">

        <div id="goal" hx-get="/goal" hx-trigger="load" hx-swap="outerHTML"></div>

        <div id="spen" hx-get="/spen" hx-trigger="load" hx-swap="outerHTML"></div>

        <div id="deposit" hx-get="/deposit" hx-trigger="load" hx-swap="outerHTML"></div>







        <div style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">

          <a href="#" hx-get="/statistics" hx-target="#content" hx-swap="outerHTML"
            onclick="return false;">Statistics</a>

          <span>ilikemycodego@gmail.com</span>

        </div>

        {{ block "menu" . }}{{ end }}

      </div>

    </div>

  </div>
  </div>
  </div>


</body>

</html>
{{ end }}