











/* убираем стандартные отступы */
html, body {
    margin: 0;
    padding: 0;
}

.band{
	display: grid;
	grid-template-columns: 1fr min(100%, 800px) 1fr;
	min-height: 100vh;
	background: #7a7878;

	background-color: var(--background-band-color);
}

.main{


	grid-column: 2;            /* строго в центре */
	background: white;
	padding:  17px 17px 0 17px;                /* отступы в центре */
    

        position: relative;  /* чтобы меню абсолютное было относительно .main */

	background-color: var(--background-color);
	color: var(--text-color);
}



