











/* убираем стандартные отступы */
html, body {
    margin: 0;
    padding: 0;
}

.band{
	display: grid;
	grid-template-columns: 1fr min(100%, 800px) 1fr;
	min-height: 100vh;


	background-color: var(--background-band-color);
}

.main{


	grid-column: 2;            /* строго в центре */

	padding:  17px 17px 0 17px;                /* отступы в центре */
    

     
	background-color: var(--background-color);
	color: var(--text-color);
}

.menu  {
    display: grid;
	grid-template-columns: 1fr  1fr  1fr;
	text-align: center;
}


.chip-btn {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.chip-btn:focus { outline: none; }