{{ define "spen" }}

<div id="spen">

    <span>Платежи сегодня - {{ .TotalDay }}</span>
    <form hx-post="/spen" hx-target="#spen" hx-swap="outerHTML">
        <input type="text" name="amount" inputmode="numeric" placeholder="потрачено" autocomplete="off">
        <button type="submit">+</button>
    </form>

    <!-- удалить последний расход -->
    <form hx-post="/delete" hx-target="#spen" hx-swap="outerHTML">
        <button type="submit">Undo</button>
    </form>

    <div id="result">
        <span>Неделя: {{ .TotalWeek }}</span>&nbsp;
        <span>Месяц: {{ .TotalMonth }}</span>&nbsp;
        <span>Год: {{ .TotalYear }}</span><br>
    </div>
</div>
{{ end }}