<!--  -->








<!--  -->
{{ define "spen" }}

<div id="spen">

    <h3>Платежи сегодня: {{ .TotalDay }}</h3>
    <form hx-post="/spen" hx-target="#spen" hx-swap="outerHTML">
        <input type="text" name="amount" inputmode="numeric" placeholder="потрачено" autocomplete="off">
        <button type="submit">+</button>
    </form>

    <!-- удалить последний расход -->
    <a href="#" hx-post="/delete" hx-target="#spen" hx-swap="outerHTML" hx-confirm="Удалить последнюю запись?"
        onclick="return false;">Undo</a>

    <div id="result">
        <span>Неделя: {{ .TotalWeek }}</span>&nbsp;
        <span>Месяц: {{ .TotalMonth }}</span>&nbsp;
        <span>Год: {{ .TotalYear }}</span><br>
    </div>
</div>
{{ end }}